<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Weather App</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
 
<h3>Weather App</h3>
<br />
<p>City:  <b th:text="${weatherInfo.getName()}"></b> </p>
<p>Temperature is <b th:text="${main.getTemp()}"> </b>°K/ <b th:text="${kToC}"></b> °C</p>
<p>Weather description: <b th:text="${weatherInfo.getWeather().get(0).getDescription()}"></b></p>
</div>
</body>
</html>